{% extends "blog/base.html"%}
{% load crispy_forms_tags %}
{% block content%}
    <div class="content-section">
        <form action="" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>
                    Login <hr>
                    {{form|crispy}}
                </legend>
            </fieldset>
            <div class="form-group mt-1">
                <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need an account? <a href="{% url 'register' %}">SignUp</a>
            </small>
        </div>
    </div>
{% endblock content %}